
.item {
    border: 2px solid green;
    margin-bottom: 40px;
    width: 29%;
    border-radius: 20px;
    overflow: hidden;
}

.image {
    background-size: 300px 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 2px #800dbe solid;
    box-shadow: 0 0 10px #444;
}

.info {
    padding: 10px;
}

.info h2 {
    margin-bottom: 5px;
}

.info p {
    margin-bottom: 20px;  
}

h3 {
    margin-bottom: 20px;
}



